*{
    margin:0;
    padding:0;
}

body {
    background-color: #30333d;
    color: #9faab8;
    font-family: 'FiraCode Nerd Font Mono';
    font-size: 15px;
}

#box {
    height: 50em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    background-color: #292b34;
    padding: 2em;
    margin: 2em;
    height: 10em;
    width: 7.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a, a:visited {
    color: #9faab8;
    text-decoration: none;
}

header {    
    padding-bottom: 8px;
    font-weight:bold;
}

.social a:hover, .social header {
    color: #f9929b;
}

.dev a:hover, .dev header {
    color: #7ed491;
}

.other a:hover, .other header {
    color: #a3b8ef;
}

